/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   index.css                                          :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: momihamm <momihamm@student.42.fr>          +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2024/11/21 17:16:16 by momihamm          #+#    #+#             */
/*   Updated: 2024/11/22 22:14:06 by momihamm         ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

/* Background Styles */
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle at bottom, #020207 5%, transparent 80%),
                linear-gradient(to left, #020207, #1c3986, #020207);
  }

  
  /* Canvas Styles */
  /* .canvas {
      /* border: 10px solid red; */
      /* position: absolute;
      top: 2%;
      left: 10%;
      width: 60%; Full width */
      /* height: 30vh; Default height of 80vh */
      /* background-color: rgba(47, 71, 140, 255); */
      /* filter: blur(50px); */
      /* border-radius: 15px; */
    /*
  
  /* Responsive Canvas Height */
  /* @media (min-width: 640px) { */
    /* .canvas { */
      /* height: 60vh; 60% of viewport height on small screens */
    /* } */
  /* } */
  
  /* @media (min-width: 768px) { */
    /* .canvas { */
      /* height: 50vh; 50% of viewport height on medium screens */
    /* } */
  /* } */
  
  /* @media (min-width: 1024px) { */
    /* .canvas { */
      /* height: 40vh; 40% of viewport height on large screens */
    /* } */
  /* } */